body{
    background-color:aliceblue;
}
h1{
    text-align: center;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cornflowerblue
}
h2{
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;
    text-decoration: underline;
}
h3{
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue;  
    text-decoration: underline;
}
p1{
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: steelblue;
}
.links {
    color: blanchedalmond;
    font-size: x-large;
    margin: 0 5px;
    text-align: center;
    box-shadow: 0 0 12px -2px rgb(81, 107, 226);
    background-color: rgb(198, 232, 242);
    align-items: center;
  }
.list{
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: steelblue;  
}
.waving{
    display: block;
    margin: auto;
    width: 50%;
}
.baking{
    display: flex;
    margin: auto;
    width: 75%;
    position: relative;
    right:500px;
    margin-top: 100px;
}
.music{
    display: flex;
    margin: auto;
    width: 75%;
    position: relative;
    margin-top:-200px;
}
.kitten{
    display: flex;
    margin: auto;
    width: 75%;
    position: relative;
    left:500px;
    margin-top: -160px;
}
img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin: center;
    border-radius: 10px;
}
h4{
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cadetblue; 
    text-align: center;
}
.flexContainer{
    display: wrap;
    align-content: flex;
    margin:center;

}
.flexItem{
    padding: 15%;
    text-align: center;
    flex-wrap: wrap;
    background-color:lightskyblue;
    margin:center;
}
@media screen and (max-width:1680px) and (max-height:1050px){
    .flexContainer{
        display: flex;
        flex-direction:column;
    }
}
@media screen and (max-width:1024px) and (max-height:768px){
    .flexContainer{
        display: flex;
        flex-direction:column;
    }
}
@media screen and (max-width:1024px) and (max-height:768px){
    .flexContainer{
        display: flex;
        flex-direction:column;
    }
}